body {
	font-family: 'Oswald', sans-serif;
	background-color: #FFF8F0;
	margin: 0;
}

/*<!-- border -->*/
.top, .bottom, .left, .right {
	background: #8A3382;
	position: fixed;
}

.left, .right {
	top: 0; 
	bottom: 0;
	width: 1em;
}

.left { 
	left: 0; 
}

.right { 
	right: 0; 
}

.top, .bottom {
	left: 0; 
	right: 0;
	height: 1em;
}

.top { 
	top: 0; 
}

.bottom { 
	bottom: 0;
	z-index: 10 
}

/*.navbar {
	background-color: #8A3382;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center; 
	height: 4em;
}

.navbar-logo {
    margin-left: .5em;
    margin-top: .6em;
    margin-bottom: .6em;
    background-color: #FFF8F0;
    border-radius: 4em;
    height: 3.5em;
    width: 3.5em;

}

.navbar-logo p {
	text-align: center;
    margin-top: .1em;
    font-family: 'Grand Hotel', cursive;
    font-size: 2.5em;
    margin-left: -.15em;

}

.nav-item {
	padding-left: 2.5em;
	font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.25em;
}


.nav-link {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: #E555CC;
}

a:hover {
	color: #FFF8F0;

}*/

.logo {
	background-color: #8A3382;
	border-radius: 20em;
	height: 22em;
	width: 22em;
	margin-top: 11em;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.logo p {
    text-align: center;
    padding-top: 1.5em;
    font-family:'Grand Hotel', cursive;
	font-size: 5em;

}

.myPhoto {
	border-radius: 15em;
	width: 28em;
	height: auto;
	opacity: 0.89;
    border: 8px solid #8A3382;
    display: block;
    margin-left: 12em;
    margin-right: auto;
    margin-top: 16em;

}

.love {
    margin-right: 14em;
    text-align: right;
    margin-top: -30.5em;
    margin-bottom: 8em;
}

.love h1 {
	font-size: 5em;
}
 
.love h2 {
	font-size: 1.75em;
}

.sites {
    text-align: left;
    font-size: 2.5em;
    margin-left: 4.8em;
    margin-top: 6em;
    margin-bottom: 1.5em;

}



.site {
    display: flex;
    width: 95%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


.caption {
	font-family: 'Lato', sans-serif;
    text-align: center;
    color: #03031C;
    background-color: #B974B2;
    background-color: rgba(138, 51, 129, 0.5);
    border-radius: 3em;
    height: 32em;
    width: 42em;
    margin-left: -9em;
    margin-bottom: 4em;

}


.caption:nth-child(even) {
	margin-left: 15em;
}

.title {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: -.5px;
    margin-bottom: -.25em;
}

.description {
    font-size: 1.3em;
    letter-spacing: -.5px;
    margin-top: 1em;
}

.siteImage {
    width: 38em;
}

.about h1 {
	font-size: 3em;
	 margin-top: 2em;
	 margin-left: 1em;
	 
}

.about {
	margin-left: 8em;
    margin-right: 7em;
    margin-bottom: 10em;
    font-size: 1.15em;

}

.contactMe {
    text-align: center;
    font-size: 1.2em;
}

.contactMe .fa {
	font-size: 2em;
}

.contactMe ul {
    list-style: none;
	padding: 0;
	margin-bottom: 2em;
}

.contactMe a {
    text-decoration: none;
    color: #b8857d;
}

.social {
	margin-bottom: 3em;
}

.social li {
	display: inline-block;
	padding: .5em;
}

.copyW {
	font-size: .5em;
	margin-bottom: 2em;
	margin-top: 12em;
}

.copyW .fa {
	vertical-align:middle;
}